apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: pool-addresses
  namespace: metallb-system
spec:
  addresses:
    - 192.168.2.2-192.168.2.125 
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: l2-advertisement
  namespace: metallb-system
spec:
  ipAddressPools:
    - pool-addresses 